
{% extends "base.html" %}
{% block title %}
  delete page
{% endblock title %}

{% block content %}

<section id="app" class="my-3">
  <div class="container my-3">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card">
            <div class="card-header">delete item</div>
            <div class="card-body">
               <p class="lead">Are you sure you want to delete {{item.title}} ?</p>
            </div>
            <div class="card-footer">
                <form action="{%url 'delete' item.id %}" method="post">
                    {% csrf_token %}
                    <button type='submit'class='btn btn-danger'>yes</button>
                </form> 
                <a href="{% url 'index' %}" class='btn btn-primary'>no</a>
            </div>
        </div>
          
        </div>
      
    </div>

  </div>
</section>
  
{% endblock content %}


    

